
       
             li
	         {  float:right;
	         	width:80px;
		        height:50px;
		        background-color:#d2b48c;
		        border-style: none;
		        float:center;
		        padding-left:30px;
		        margin-left: 50px;
		        font-style:width;
		        color: white;
		        overflow: hidden;
               
             }

            